<div class="main">
    <div class="container">
        <div class="imgb">
            <img src="https://gadgeon.com/web/images/Product-engineering-banner.jpg" class="img1"  >
           
        </div>
        <div class="heading">
            <h2>SERVICES</h2>
            <h3>Product Engineering</h3>
            <p>Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products. Today, lack of the right domain experience or technical expertise is not a barrier to building profitable products. Instead of relying on home grown talent and resources, which requires high investment
              </p>
              <h3>IoT Software Development</h3>
              <p>Gadgeon provides end-to-end IoT engineering services from edge devices/sensors, cloud, to mobile/web applications. We serve enterprises, start-ups, and OEMs in connecting devices to IoT edge gateways communicating over different protocols  </p>
              <h3>Digitalization Services
            </h3>
              <p>A successful digitalization approach should be viewed more from a customer experience perspective than purely as a large process automation / IT modernization initiative. Digitalization is all about business simplification that helps to build self-sufficient business models for cost-effectiveness and consistent value </p>
        </div>
    </div>
</div>
